<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

	<meta name="description" content="">
	<meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:image:alt" content="">

	<!-- <link rel="icon" href="{{ url_for('static', filename='img/icon/icon.png') }}" sizes="any"> -->
</head>

<body>
	<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>
